
\(do_not_touch\)ORSEN2/
*.pyc

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/Mod_ORSEN_v2.iml

.idea/modules.xml

.idea/vcs.xml

logs/
env/
emotion classification/
venv/

.spyproject/
emotion classification/2021-05-19 23-14-59.txt
emotion classification/2021-05-19 23-15-20.txt
emotion classification/2021-05-19 23-15-39.txt
emotion classification/2021-05-19 23-16-26.txt
emotion classification/2021-05-19 23-16-46.txt
emotion classification/2021-05-19 23-17-46.txt
emotion classification/2021-05-19 23-18-36.txt
emotion classification/2021-05-19 23-18-59.txt
emotion classification/2021-05-19 23-21-17.txt
emotion classification/2021-05-19 23-23-43.txt
emotion classification/2021-05-19 23-24-49.txt
emotion classification/2021-05-19 23-25-32.txt
emotion classification/2021-05-19 23-26-16.txt
emotion classification/2021-05-19 23-26-34.txt
emotion classification/2021-05-19 23-30-29.txt
emotion classification/2021-05-19 23-35-41.txt
emotion classification/2021-05-19 23-39-01.txt
emotion classification/2021-05-19 23-41-40.txt
emotion classification/2021-05-19 23-44-33.txt
