<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
	</head>
	<body>
		<div class="login">
			<div class='row mt-5'>
        <div class='col-4 mx-auto'>
          <h3 class='text-center'>User Registration</h3>
          <br><hr><br>

          <div class='container mt-4'>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            
            {% block body %}
        
            {% endblock %}
          </div>

          <form action="{{url_for('register')}}" method='post'>
            <div class='form-group'>
              <!-- <label>Name</label> -->
              <input type='text' name='username' required class='form-control' placeholder="Name" autofocus>  
            </div>
            <div class='form-group'>
              <!-- <label>Password</label> -->
              <input type='password' name='password' required class='form-control' placeholder="Password">  
            </div>
            <!-- <div class="login-button"> -->
            <input class="login-btn" type='submit' name='submit' value='Submit' class='btn btn-success'>
            <!-- </div> -->
          </form>
        </div>
      </div>
		</div>
	</body>
</html>